@font-face
	font-family 'RobotoRegular'
	src url(../fonts/RobotoRegular.ttf)
robreg = 'RobotoRegular'
@font-face
	font-family 'RobotoBold'
	src url(../fonts/RobotoBold.ttf)
robold = 'RobotoBold'
@font-face
	font-family 'RobotoBlack'
	src url(../fonts/RobotoBlack.ttf)
rblack = 'RobotoBlack'
@font-face
	font-family 'RobotoLight'
	src url(../fonts/RobotoLight.ttf)
rlight = 'RobotoLight'
@font-face
	font-family 'RobotoMedium'
	src url(../fonts/RobotoMedium.ttf)
rmedium = 'RobotoMedium'
@font-face
	font-family 'PTSansRegular'
	src url(../fonts/PTSansRegular.ttf)
ptsr = 'PTSansRegular'

