footer
	background-color #0e4f97
	h4
		padding-left 15px
		font-conf(#ffc000, robold, 18px)
	ul
		list-style-type none
		padding 0
		li
			a
				font-conf(#fff, robreg, 13px)
.contacts
	display flex
	flex-flow column wrap
	&-phones
		display flex
	&-icon
		color #ffc000
		padding-right 10px
		margin-top 6px
	&-phone
		font-conf(#fff, robold, 16px)
		line-height 24px
	&-address
		padding-top 20px
		font-conf(#fff, robreg, 13px)
		line-height 24px
.subscribe
	display flex
	flex-flow column wrap
	justify-content space-around
	align-items flex-end
.subs
	.form-control
		box-shadow none
	border 1px solid #fff
	padding 20px
	margin-bottom 1.1vw
	width 100%
	&-input-group
		width 100%
	&-title
		font-conf(#fff, robreg, 15px)
	&-btn
		font-conf(#212121, robreg, 13px)
		background: linear-gradient(180deg, #ffc000, #ffae00)
		padding 7px 10px
		border-radius 0 3px 3px 0
		align-self flex-end
		outline 0
		border 0
	&-wrapper-btn
		background: linear-gradient(180deg, #ffc000, #ffae00)
		outline 0
		border 0
		padding 0
		border-radius 0 3px 3px 0
	&-ico
		background: linear-gradient(180deg, #fff, #e7e7e6)
		border-right 0px
	input
		background: linear-gradient(180deg, #fff, #e7e7e6)
		border-left 0
		outline none
		width 100%
		font-conf(#ccc, robreg, 13px)
.btn-to-top
	@media screen and (min-width: 1185px)
		margin-top 32px
	float right
	margin-top 15px
	background: linear-gradient(180deg, #3290f9, #1d74d4)
	border none
	border-radius 3px 3px 0 0
	font-conf(#fff, robreg, 13px)
	&-icon
		padding-left 5px
.copyright
	padding 15px
	display flex
	flex-flow row wrap
	justify-content space-between
	.copy
		font-conf(#212121, robreg, 13px)
	.aliace
		font-conf(#212121, robreg, 13px)