.header
	.glyphicon.glyphicon-search
		color #959595
	.centering
		display flex
		justify-content space-between
		flex-flow row wrap
		align-items center
	width 100%
	margin-bottom 15px
	color #000
	.top-menu
		margin-left -15px
		.nav-link
			padding-left 5px
	.row
		background #fff
	.navbar
		margin-bottom 0
	.navbar-default
		background-color transparent
		border none
	.nav-link
		font-conf(#000, robreg, 14px)
	.top-menu-center
		li a
			padding-left 2px
			padding-right 2px
		.btn-primary
			border-radius 0
			padding 2px
			font-conf(#fff, robreg, 14px)
	.navbar-right a
		font-conf(#000, robreg, 14px)
		.icon
			color #959595
	.ukrdev
		font-conf(#000, robreg, 14px)
		@media screen and (max-width: 1024px)
			display none
	.logo
		margin-left -15px
	.contact-phones
		display flex
		justify-content flex-start
		align-items center
		flex-flow row wrap
		i
			color #00f 
	.work-grafic
		line-height 18px
		font-conf(#000, robreg, 12px)
		@media screen and (max-width: 1024px)
			display none
		.caret
			color blue !important
	.select
		display flex
		flex-flow column-reverse nowrap
		a#recall
			border-bottom 1px dotted #00f
			align-self baseline
			margin-left 14px
			font-conf(#1a5eab,robreg,13px)
	#phones
		background-color transparent
	#phones-styler li,#phones-styler selected.sel
		font-conf(#000, robold, 19px)
.action
	display flex
	justify-content space-around
	list-style-type none
	padding 0
	margin 0
	i.icon-star-empty
		font-size 28px
		color #1a5eab
	i.icon-cart
		font-size 28px
		color #f7941b
	&-wrapper
		display flex
	&s
		list-style-type none
		padding-left 5px
		margin 0
		&-name
			font-conf(#212121, robold, 15px)
		&-quantity
			font-conf(#5c5c5c ,robreg, 11px)

	