// content
.centering
	.content
		ol.breadcrumb
			li: a.btn.btn-primary(href="#")
				i.glyphicon.glyphicon-menu-hamburger
				span Каталог товаров
			li: a(href="#") Стропы грузоподемные
			li.active Канатные
		h3.product-name Строп канатный петлевой
		.row
			.col-xs-12.col-md-9
				include ./product.jade
			.col-xs-12.col-md-3
				include ./sidebar.jade