ul.info
	li.info-item
		i.fa.fa-truck.fa-lg
		span Досатвка 
		sup:  i.glyphicon.glyphicon-info-sign
	ul.info-lvl-1.dlvr
		li.info-item-1 По Украине
			ul.info-lvl-2
				li.info-item-2 на склад службы перевозчика
				li.info-item-2 курьером по адресу
		li.info-item-1 По Днепропетровску
			ul.info-lvl-2
				li.info-item-2 самовывоз из точки выдачи
				li.info-item-2 курьером по адресу
	li.info-item
		i.fa.fa-credit-card-alt.fa-lg
		span Оплата 
		sup:  i.glyphicon.glyphicon-info-sign
		p Наличными, Безналичными, Visa/Mastercard
	li.info-item
		i.fa.fa-shield.fa-lg
		span Гарантия 
		sup:  i.glyphicon.glyphicon-info-sign
		ul.info-lvl-1
			li.info-item-1 обмен/возврат товара в течении 14 дней
			li.info-item-1 официальная гарантия от 6 месяцев
			li.info-item-1 оригинальная продукция